page-add-food {
    ion-content {
        background-color: rgb(235, 235, 235) !important;
    }
    .content-container {
        background-color: white;
        min-height: 100vh;
        margin: 16px;
    }
    .image-container {
        display: inline-block;
        position: relative;
        max-width: 100px;
        img {
            width: 100%;
            padding: 10px;
        }
        .close_button {
            color: red;
        }
    }
}